body {
background-color: pink;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.btn {
  width: 450px;
  height: 70px;
  background-color: rgb(125, 102, 255);
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 30px;
  align-self: center;
}

.gameinfo-container{
  width: 450px;
  height: 70px;
  display: inline-block;
  padding: 5px;
  justify-content: center;
  margin-left: auto;
  text-align: center;
  background-color: rgb(223, 226, 14);
  color: white;
  font-size: 20px;
  font-family: 'Bowlby One SC', cursive;
  border: 2px solid #fff;
  border-radius: 20px/50px;
}

.box1 {
  width: 450px;
  height: 70px;
  background-color: rgb(247, 10, 101);
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 30px;
  align-self: center;
}

.button1 {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
align-content: center;  

}
.btn:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.btn:hover .overlay {
  transform: scale(4) translateZ(0);
}

.box1:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.box1:hover .overlay {
  transform: scale(4) translateZ(0);
}

.gameinfo-container:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.gameinfo-container:hover .overlay {
  transform: scale(4) translateZ(0);
}
#nav-bar
{
    position: absolute;
    top: 0;
    z-index: auto;
}
.navbar
{
 background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

.navbar-nav li a i:hover {
    background: #111111;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.img:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.img:hover .overlay {
  transform: scale(4) translateZ(0);
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 15;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgb(3, 3, 3);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
/*
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
*/

.j-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  padding-top: none;
}

.flip-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3)
}

.flip-card-inner{
  width:fit-content;
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
 
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  
  }

.flip-card.active .flip-card-inner, .flip-card.founded .flip-card-inner {
  transform: rotateY(180deg);
}

flip-card.active .flip-card-inner, .flip-card.founded .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.flip-card:hover .overlay {
  transform: scale(4) translateZ(0);
}
.footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: rgba(120, 120, 120, 0.7);
    text-align: left;
    padding-top: 3px
}

.footer p {
    padding: 0 0 0 20px;
    margin: 5px 0 0;
    line-height: 24px;
    display: block;
    width: auto;
    text-shadow: 1px 1px 0px #333;
}

.footer p,
.footer a {
    text-align: left;
    color: #fff
}