body {
background-color: pink;
  height: 100%;
  width: 100%;
  display: inline-block;
}


.btn {
    width: 100%;
  background-color: #FF6766;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
	display: block;
	color: white;
	text-decoration: none;
	position: relative;
    font-size: 15px;
    align-self: center;
}




.btn span {
    transition: all 0.3s;
}
.btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn:hover span {
    letter-spacing: 2px;
}
.btn:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}


.header{
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 15px;
  margin-top: none;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  
}

.gameinfo-container{
  width: 100%;
  display: block;
  padding: 10px
  justify-content: center;
  margin-left: auto;
  text-align: center;
  background-color: #2709ce;
  color: white;
  font-size: 15px;
  font-family: 'Bowlby One SC', cursive;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
}

.box1 {
  width: 100%;
  background-color: #FF6766;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 15px;
  align-self: center;
}

.button1 {
  font-size: 15px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.button1:hover {
    letter-spacing: 2px;
}
.button1:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.button1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.button1:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 15;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgb(3, 3, 3);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
/*
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
*/

.j-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}


.flip-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3)
}

.flip-card-inner{
  width:fit-content;
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
 
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  
  }

.flip-card.active .flip-card-inner, .flip-card.founded .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.flip-card:hover .overlay {
  transform: scale(4) translateZ(0);
}
/*
@media only screen and (max-width: 414px) {
  .deviceWidth {width:280px!important; padding:0;}	
  .center {text-align: center!important;}	 
    }
*/
/*
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
*/

.footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: rgba(120, 120, 120, 0.7);
    text-align: left;
    padding-top: 3px
}

.footer p {
    padding: 0 0 0 20px;
    margin: 5px 0 0;
    line-height: 24px;
    display: block;
    width: auto;
    text-shadow: 1px 1px 0px #333;
}

.footer p,
.footer a {
    text-align: left;
    color: #fff
}